@font-face{
    font-family:'top';
    src: url(../fuentes/Autography.otf);
}

@font-face{
    font-family:'titulos';
    src: url(../fuentes/LEMONMILK-Bold.otf);
}
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}



.logo{
    width: 50px
}

.navbar-toggler{
    border: none;
}

.iconodesurf{
    width: 40px;
}
.login{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    font-family: "titulos";
    cursor: pointer;
    position: absolute;
    left: 1205px;
}
.nav-link{ 
    color: rgb(0, 0, 0);
    font-family: 'top';
    font-size: 20px;
    font-weight: 500;
}

.productos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px;
    margin-top: 100px;
}

.card{
    transition: transform 1s ease-in-out;
    box-shadow: 0px 0px 10px #ffffff;
}

.card-img-top{
    transition: all 1s ease-in-out;
}

.card-img-top:hover{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px rgb(200, 207, 159));
}

.card-body{
    background-image: url(../img/arena.png);
    background-size: cover;
}

.card-body h5{
    color: black;
    font-size: 15px;
    font-family: "titulo";
    align-items: flex-start;
}

.card-body h3{
    color: rgb(126, 123, 123);
    font-size: 25px;
    font-family:'top';
    align-items: flex-start;
}

.card-body img{
    width: 30px;
    position: absolute;
    left: 230px;
    top: 40px;
}
.div1-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 641px;
}
.login-section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    background-color: aqua;
    width: 800px;
    height: 400px
}

.login-div1{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
}
.login-div1 h2{
    position: relative;
    font-size: 34px;
    font-family: "titulos";
    color: #C6AC8F;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    flex-direction: column;
}
.form a{
    text-decoration: none;
    color: white;
    font-family: "titulo";
}
.form-registrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div2-login{
    background-image: url(../img/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

.div2-login img{
    position: relative;
    width: 40px;
    left: 350px;
    top: 15px;
}

.input-box{
    display: flex;
    flex-direction: column;
}
.input{
    width: 250px;
}

.boton-ingresar{
    width: 250px;
    background-color: #C6AC8F;
    font-family: "titulos";
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 20px;
}

.input-box label{
    font-family: "top";
    font-size: 25px;
    color: #C6AC8F;
    
}

.carrito{
    width: 30px;
    position: relative;
    left: 495px;
    cursor: pointer;
}

.vaciar-carrito{
    position: absolute;
    left: 1060px;
    border: none;
    background-color: rgb(217, 179, 129);
    color: black;
    border-radius: 12px;
    border-color: white;
    width: 120px;
}


.nav-item{
    display: flex;
}

.icon{
    top: 8px;
    margin-right: 5px;
}


.dropdown-item{
    font-family: "titulos";
    color: rgb(152, 152, 152);
    font-size: 10px;
}

.dropdown-item:hover {
    box-shadow: 0 0 10px rgb(212, 156, 83); /* Cambiado el color a rojo */
}

.div-footer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background-color: #C6AC8F;
    gap: 200px;
    padding: 20px;
}

.div-contacto-footer div{
    display: flex;
    gap: 5px;
    margin: 20px;
}
.div-contacto-footer h4{
    font-size: 40px;
    font-family: "top";
    margin: 10px;
}

.div-contacto-footer li{
    list-style: none;
    
}

.div-contacto-footer img{
    width: 25px;
}

.div-redes-footer img{
    width: 25px;
}
.div-redes-footer a{
    text-decoration: none;
    color: black;
}
.div-redes-footer li{
    list-style: none;
    text-decoration: none;
}
.div-redes-footer h4{
    font-size: 40px;
    font-family: "top";
    margin: 10px;
}

.div-redes-footer div{
    display: flex;
    gap: 5px;
    margin: 20px;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 641px;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 800px;
    clip-path: polygon(42% 1%, 100% 0, 100% 100%, 0 100%, 0 40%);
    margin-bottom: 50px;
}
body{
    background-image: url(../img/playa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.surftyle{
    position: relative;
    rotate: -90deg;
    width: 283px;
    top: 406px;
    left: 66px;
    color: black;
    font-family: "titulo";
    font-size:30px;
    font-weight: 700;
    letter-spacing: 3px;
}

.flecha-atras {
    display: none; 
    width: 30px; 
    height: 30px; 
    cursor: pointer;
    position: fixed; 
    top: 23px; 
    left: 1111px; 
    z-index: 9999;
}

.vaciar-carrito {
    background-color: #dc3545; 
    color: #fff; 
    padding: 8px ; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    display: none;
    left: 980px;
}

.vaciar-carrito:hover {
    background-color: #c82333; 
}

.vaciar-carrito:focus {
    outline: none;
}

.mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mensaje h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 25px;
    text-align: center;
}

.mensaje p{
    color: #C6AC8F;
    font-size: 30px;
    font-family: "top";
}


.imagenPerfil{
    position: fixed;
    right: 69px;
    top: 18px;
    width: 40px;
}

.carritoIconoo{
    position: relative;
    left: 530px;
    width: 30px;
}

.agregar-carro{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "titulo";
    border: none;
    border-radius: 5px;
}

.div1-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 641px;
}

.section1-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    background-color: aqua;
    width: 800px;
    height: 400px
}

.div2-contacto{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
}
.div2-contacto h2{
    position: relative;
    font-size: 34px;
    font-family: "titulos";
    color: #C6AC8F;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    flex-direction: column;
}

.sweetalert-popup{
    font-family: 'Arial', sans-serif; 
}

.espacio{
    height: 491px;
    justify-content: center;

}
.espacio2{
    width: 600px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color:#C6AC8F ;
    font-size: 30px;
    font-family: "titulo";
    
}